*.so
*.d
*.pyc
FastSim*
AnalysisResults*.root
*_ACLiC_*
fort.97
*.lhe
POWHEG_bins
*.log
powheg.input
powheg_*.input
*.dat
pwhg_checklimits
realequiv
realequivregions
virtequiv
pwg-btlgrid.top
FlavRegList
bornequiv
pwgborngrid.top
pwghistnorms.top
