*.so
*.d
*.pyc
FastSim_*.root
FastSimAnalysis_*
*AnalysisResults*.root
*_ACLiC_*
*.lhe
POWHEG_bins
sim.log
powheg.log
powheg_*.log
powheg.input
powheg_*.input
galice.root
outputs_valid
powheg_*.tar
sim_*.log
userConf.yaml
